:root {
    --font-family: "DM Sans", serif;
    --second-family: "Poppins", sans-serif;
    --font-size: 62.5%;
    --font-weight: 500;
}

html,
body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.container{
    max-width: 1146px;
    margin: 0;
}
